<!doctype html>
<html>
<head>
    <title>Hospital</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% for myscript in jsscripts %}
    <script src="/static/{{myscript}}"></script>
    {% endfor %}

</head>
<body>
    <div class="navbar">
        <a class="active" href="/index">Home</a>
        <a href="/doctors">Doctors</a>
        <a href="/nurses">Nurses</a>
        <a href="/patients">Patients</a>
        <a href="/prescriptions">Prescriptions</a>
    </div>
	{{{body}}}
</body>
</html>
